<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.google.android.samples.dynamicfeatures.ondemand.fcode">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_flutter">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="com.google.android.samples.dynamicfeatures.ondemand.FlutterConfigActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.google.android.samples.dynamicfeatures.ondemand.FlutterModuleSampleActivity"
            android:exported="true" />
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!--        <activity-->
<!--            android:name="io.flutter.embedding.android.FlutterActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:theme="@style/Theme.AppCompat"-->
<!--            android:windowSoftInputMode="adjustResize">-->
<!--            &lt;!&ndash; ... &ndash;&gt;-->
<!--        </activity>-->
    </application>

</manifest>